<h1>Welcome, <%= @user.email %></h1>

<h3>Stay tuned for more features!</h3>
Coming soon:
<ul>
	<li>Images and other media</li>
	<li>Search for choose-its to vote on</li>
	<li>Login via Google, Twitter, etc</li>
	<li>Invite more people via Facebook</li>
	<li>And much more!</li>
</ul>
Please contact us if you have suggestions to make this app better. Your feedback can really speed up the process of improvement!
