<h1>Awwww...</h1>
<p>Sorry, you've voted on all the chooseits in the database. You must really love this web app!</p>
<p>To get more stuff to vote on, post about chooseitgame.com on your Facebook wall! Or stay tuned
	and we'll work on a button to do this automatically...</p>
	