// Place all the styles related to the Tots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$thumb-size:64px;
$white:#ffffff;
$blue:blue;
$table-border:5px solid $white;
$cell-border:1px solid $white;
$cell-width:160px;
@mixin span-base {
	display:block;
	width:$cell-width;
	text-align:center;
	word-wrap:break-word;
}
.tots {
	table {
		margin:auto;
		thead {
			border-top:$table-border;
			tr {
				th {
					span {
						@include span-base;
					}
				}
			}
			border-bottom:$table-border;
		}
		tbody {
			border-bottom:$table-border;
			tr {
				td {
					img {
						display:block;
					}
					span {
						@include span-base;
					}
				}
				height:$thumb-size;
				border-bottom:$cell-border;
			}
		}
	}
}
