// Place all the styles related to the Tots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tots {
	$thumb-size:64px;
	$white:#ffffff;
	$blue:blue;
	$table-border:5px solid $white;
	$cell-border:1px solid $white;
	$cell-width:160px;
	table {
		margin:auto;
		thead {
			border-top:$table-border;
			tr {
				th {
					span {
						display:block;
						width:$cell-width;
						text-align:center;
					}
				}
			}
			border-bottom:$table-border;
		}
		tbody {
			border-bottom:$table-border;
			tr {
				td {
					img {
						display:block;
					}
					span {
						display:block;
						width:$cell-width;
						text-align:center;
					}
				}
				height:$thumb-size;
				border-bottom:$cell-border;
			}
		}
	}
}
